[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "HiDimStat"
# Version from setuptools_scm
dynamic = ["version"]
dependencies = [
    "joblib       >= 1.2.0, < 2",
    "numpy        >= 1.25,  < 3",
    "pandas       >= 2.0,   < 3",
    "scikit-learn >= 1.4,   < 2",
    "scipy        >= 1.6,   < 2",
]
requires-python = ">=3.9, < 4"
authors = [{ name = "HiDimStat developers" }]
maintainers = [
    { name = "Bertrand Thirion", email = "bertrand.thirion@inria.fr" },
]
description = "High-dimensional statistical inference tools for Python"
readme = "README.md"
classifiers = [
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",
]
license = { file = "LICENSE" }

[project.optional-dependencies]
# Requirements necessary for building the documentation
doc = [
    "memory_profiler        >= 0.61.0",
    "mne                    >= 1.7.1",
    "nilearn                >= 0.10.4",
    "numpydoc               >= 1.7.0",
    "pillow                 >= 10.4.0",
    "PyQt5                  >= 5.15.10",
    "pyvista                >= 0.44.0",
    "pyvistaqt              >= 0.11.1",
    "pydata_sphinx_theme    >= 0.16.1",
    "sphinxcontrib-bibtex   >= 2.6.2",
    "sphinx-gallery         >= 0.16.0",
]
plotting = [
    "matplotlib>=3.9.0",
]
style = [
    "black  >= 24.4.2", 
    "isort  >= 5.13.2"
]
# For running unit and docstring tests
test = [
    "iniconfig  >= 0.1,  < 3",
    "packaging  >= 14.0, < 100",
    "coverage   >= 6.0,  < 8",
    "pytest     >= 8.0,  < 9",
    "pytest-cov >= 3.0,  < 7",
    "pytest-randomly",
    "pytest-xdist[psutil]",
    "pytest-timeout"
]

[project.urls]
Development = "https://github.com/nilearn/nilearn"
Homepage = "https://mind-inria.github.io/hidimstat"
Repository = "https://github.com/mind-inria/hidimstat"


[tool.hatch.build.hooks.vcs]
version-file = "src/hidimstat/_version.py"

[tool.hatch.build.targets.wheel]
packages = ["src/hidimstat"]

[tool.setuptools.packages.find]
where = ["src"]


[tool.hatch.version]
source = "vcs"

# initialisation based on the good practice of pytest
# https://docs.pytest.org/en/stable/explanation/goodpractices.html
[tool.pytest.ini_options]
minversion = "8.0"
pythonpath = "src"
testpaths = "test"
addopts = [
    "-ra",                   # short test summary info
    "--import-mode=importlib", # btter control of importing packages
    "--showlocals",          # show local variable inn trackbacks
    "--strict-config",       # no warning from parsing pytest configuration file
    "--strict-markers",      # undefine markers will raise an error
    # pytest-randomly
    # "--randomly-dont-reset-seed", # turn off the rest of the random seed 
    # pytest-xdist option
    "-n=auto",               # autoamtically define the number of process
]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]
# pytest-timeout
timeout= 60          # on individula test should not take more than 10s
session_timeout=1200 # all the tests should be run in 5 min