--extra-index-url https://download.pytorch.org/whl/cu118
joblib
matplotlib
memory_profiler
mne
nilearn
numpy
numpydoc
pandas
pillow
PyQt5
pyvista
pyvistaqt
scikit-learn
scipy
sphinx-bootstrap-theme
sphinxcontrib-bibtex
sphinx-gallery
torch
torchmetrics
