# For more information see: https://black.readthedocs.io/en/stable/integrations/github_actions.html
name: Lint

on: 
  # Allows you to run this workflow from another workflow
  workflow_call

# disable all the permission for the workflow
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - uses: psf/black@stable
        with:
          jupyter: true

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install codespell
        run: pip install codespell
      - name: Run codespell with pyproject.toml config
        run: codespell --toml pyproject.toml
